<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8" />
    <title>D8 Module Status</title>
<style media="screen" type="text/css">

.unknown {
    background-color: grey;
    text-align: center;
}

.pass {
    background-color: lightgreen;
}

.fails {
    background-color: red;
}

.more {
    font-weight: bold;
}

.less {
    font-weight: bold;
}

</style>
</head>


<body>

<h1>D8 Module Status</h1>

<table>
    <tr>
        <th>Project</th>
        <th>PHPUnit</th>
        <th>Simpletest</th>
    </tr>

    {% for project in projects %}
    <tr>
        <td><a href="http://www.drupal.org/project/{{ project.name }}">{{ project.name }}</a></td>
        {% if project.phpunit.assertions %}
            <td class="phpunit {{ project.phpunit.failures or project.phpunit.errors ? 'fails' : 'pass' }}">
                {{ project.phpunit.assertions }}
                {% if project.phpunit.assertions_diff %}
                  {% if project.phpunit.assertions_diff > 0 %}
                    <span class="more">( +{{ project.phpunit.assertions_diff }} )</span>
                  {% else %}
                    <span class="less">( {{ project.phpunit.assertions_diff }} )</span>
                  {% endif %}

                {% endif %}
                /
                {{ project.phpunit.failures }}
                {% if project.phpunit.assertions_diff %}
                    {% if project.phpunit.failures_diff > 0 %}
                        <span class="more">( +{{ project.phpunit.failures_diff }} )</span>
                    {% else %}
                        <span class="less">( {{ project.phpunit.failures_diff }} )</span>
                    {% endif %}

                {% endif %}
                /
                {{ project.phpunit.errors }}
                {% if project.phpunit.errors_diff %}
                    {% if project.phpunit.errors_diff > 0 %}
                        <span class="more">( +{{ project.phpunit.errors_diff }} )</span>
                    {% else %}
                        <span class="less">( {{ project.phpunit.errors_diff }} )</span>
                    {% endif %}

                {% endif %}
            </td>
        {% else %}
            <td class="phpunit unknown">-</td>
        {% endif %}
        {% if project.simpletest.assertions %}
            <td class="simpletest {{ project.simpletest.failures or project.simpletest.errors ? 'fails' : 'pass' }}">
                {{ project.simpletest.assertions }}
                {% if project.simpletest.assertions_diff %}
                    {% if project.simpletest.assertions_diff > 0 %}
                        <span class="more">( +{{ project.simpletest.assertions_diff }} )</span>
                    {% else %}
                        <span class="less">( {{ project.simpletest.assertions_diff }} )</span>
                    {% endif %}

                {% endif %}
                /
                {{ project.simpletest.failures }}
                {% if project.simpletest.assertions_diff %}
                    {% if project.simpletest.failures_diff > 0 %}
                        <span class="more">( +{{ project.simpletest.failures_diff }} )</span>
                    {% else %}
                        <span class="less">( {{ project.simpletest.failures_diff }} )</span>
                    {% endif %}

                {% endif %}
                /
                {{ project.simpletest.errors }}
                {% if project.simpletest.errors_diff %}
                    {% if project.simpletest.errors_diff > 0 %}
                        <span class="more">( +{{ project.simpletest.errors_diff }} )</span>
                    {% else %}
                        <span class="less">( {{ project.simpletest.errors_diff }} )</span>
                    {% endif %}

                {% endif %}
            </td>
        {% else %}
            <td class="simpletest unknown">-</td>
        {% endif %}
    </tr>
    {% endfor %}

</table>

<h2>FAQ</h2>

<h3>What is this?</h3>
<p>This is a daily script that runs the tests of all the mentioned projects above and displays a summary, including changes to the previous day.</p>

<p>More features are planned (like drupal.org issue queue statistics), if you have an idea or want to help, click on fork.</p>

<h3>What do those numbers tell me?</h3>
<p>They give an idea if a module is working, or if recent or not so recent changes in Drupal core broke their tests.</p>

<p>Passing tests does not mean that a module works (Some modules are being developed and incomplete), <br />
    failing tests do not mean that a module does not, but it is an indicator that something is wrong. <br />
    Especially if the tests used to pass.</p>

<p>
    If a module has no tests, then we simply don't know. Go and write some!
</p>

<h3>This looks ugly?</h3>
<p>Yeah. Fork and improve it :)</p>

<h3>Module xy is missing?</h3>
<p>Create a pull requests that adds it to projekt.make and I'll include it.</p>

<p>Last updated: {{ timestamp }}</p>

<p>Build log: <a href="build.log">build.log</a></p>

<p>JSON: <a href="projects.json">projects.json</a></p>

<p>Maintained by <a href="http://drupal.org/user/214652">@berdir</a>.</p>

<a href="https://github.com/berdir/d8modulestatus"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

</body>
</html>
