<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8" />
    <title>D8 Module Status</title>
<style media="screen" type="text/css">

.unknown {
    background-color: grey;
    text-align: center;
}

.pass {
    background-color: lightgreen;
}

.fails {
    background-color: red;
}

</style>
</head>


<body>

<h1>D8 Module Status</h1>

<table>
    <tr>
        <th>Project</th>
        <th>PHPUnit</th>
        <th>Simpletest</th>
    </tr>

    {% for project in projects %}
    <tr>
        <td>{{ project.name }}</td>
        {% if project.phpunit.assertions %}
            <td class="phpunit {{ project.phpunit.failures or project.phpunit.errors ? 'fails' : 'pass' }}">{{ project.phpunit.assertions }} / {{ project.phpunit.failures }} / {{ project.phpunit.errors }}</td>
        {% else %}
            <td class="phpunit unknown">-</td>
        {% endif %}
        {% if project.simpletest.assertions %}
            <td class="simpletest {{ project.simpletest.failures or project.simpletest.errors ? 'fails' : 'pass' }}">{{ project.simpletest.assertions }} / {{ project.simpletest.failures }} / {{ project.simpletest.errors }}</td>
        {% else %}
            <td class="simpletest unknown">-</td>
        {% endif %}
    </tr>
    {% endfor %}

</table>

<h2>This looks ugly?</h2>
<p>Yeah. Fork and improve it :)</p>

<h2>Module xy is missing?</h2>
<p>Create a pull requests that adds it to projekt.make and I'll include it.</p>

<p>Last updated: {{ timestamp }}</p>

<p>Build log: <a href="build.log">build.log</a></p>

<p>Maintained by <a href="drupal.org/project/user/214652">@berdir</a>.</p>

<a href="https://github.com/berdir/d8modulestatus"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

</body>
</html>
